@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  background-image: linear-gradient(to right, #c0d6e4,#adf7c2);
font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
#container{
    margin-top: 5rem;
    font-family: 'Quicksand', sans-serif;

}

#disasterPlanTitle {
  margin-right: 2rem;
}

#createPlan {
  margin-left: 7rem;
}

.Parallax {
  background-image: url("https://media.giphy.com/media/nUffsylZvXTXy/giphy.gif");
    min-height: 500px;
    background-size: cover;
    opacity: 0.8;

}

.homeButtons {
  color:white;
  font-weight: bold;
display: flex;
text-align: center;
   text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   border-radius: 12px;
   font-family: 'Quicksand', sans-serif;

}

#description {
  color:#300087;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

#homeButton1 {
    background-size:cover;
margin-left: 25%;
margin-top: 6%;
padding-left: 60px;
padding-right: 60px;
padding-top: 60px;
padding-bottom: 60px;
}

#homeButton2 {
    background-size:cover;
  margin-left: 60%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  }
#homeButton3 {
  background-size:cover;
margin-left: 25%;
padding-left: 60px;
padding-right: 60px;
padding-top: 50px;
padding-bottom: 50px;
margin-top:0%;
}

#required {
  margin-left: 7rem;
}

#createPlan2, #loginpage {
  text-align: center;
}

p2 {
  text-align: center;
  font-size: 14px;
}
